# make any fine offset 10xx/20xx/30xx station accessible to non-root
SUBSYSTEM=="usb", ATTRS{idVendor}=="1941", ATTRS{idProduct}=="8021", MODE="0666"
